@import './base.css';
@import './get_starknet.css';
@import './button.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 549px) {
  #app {
    padding: 0rem 0.5rem;
  }
}

.logo {
  font-family: 'Monoton', cursive;
}

.max-width {
  width: 100vw;
  max-width: var(--max-width);
}

.max-height {
  height: 100vh;
}

.max-height-without-navbar {
  height: calc(100vh - var(--navbar-height) - var(--navbar-top-margin) - var(--footer-height) - var(--footer-bottom-margin));
}

body {
  display: flex;
  place-items: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.containNoRepeatCenter {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spinner {
  width: 50px;
  height: 50px;
  background-image: url(../assets/img/loading.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.inline-spinner {
  width: 30px;
  height: 30px;
  background-image: url(../assets//img/loading.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bold {
  font-weight: 700;
}
.red {
  color: var(--red);
}